body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 25px
}




.card {

    padding: 25px 50px;
    max-width: 473px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid #DFDFDF;
    background: #FFF;

}

.card-block-0 {
    width: 376px;
    border-radius: 19px;
    background: linear-gradient(#9C2CF3, #3A6FF9);
    color: #FFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 28px;
}

.card-block-1 {
    width: 376px;
    border-radius: 19px;
    background: linear-gradient(177deg, #F3972C -13.49%, #E333C7 109.75%);
    color: #FFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 28px;
}

.card-block-2 {
    width: 376px;
    border-radius: 19px;
    background: linear-gradient(177deg, #F32CC7 -13.49%, #27A6AE 109.75%);
    color: #FFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 28px;
}

.card-title {
    padding: 28px 24px 18px;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.card-balance {
    padding: 0px 24px 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}

.card-money {
    padding: 0px 24px 40px;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
}

.card-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.card-number {
    padding: 0px 24px 21px;
}

.card-expiration {
    padding: 0px 22px 21px;
}

.card-logo-0 {
    position: absolute;
    top: 25px;
    left: 309px;
}
.card-logo-1 {
    position: absolute;
    top: 25px;
    left: 309px;
}
.card-logo-2 {
    position: absolute;
    top: 25px;
    left: 309px;
}
.transaction-title{
    color: #000;

font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.transaction-list{
display: flex;
flex-direction: column;
}
.transaction-item{
display: flex;

}

.income {
    text-wrap: nowrap;
    color: green;
}

.outcome {
    text-wrap: nowrap;
    color: red;
}
